body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.intro {
    max-height: 100vh;
    position: relative;
    background: url("sea.png") center no-repeat;
    background-size: cover;
    overflow-x:hidden;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.line {
  position: relative;
  top: -60px;
  left: 20px;
  color: #FFF8DC;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.photo {
   /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
  position: relative;
  top: -50px;
  left: 80px;
}
  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid #E0FFFF;
}
 
.button {
  position: relative;
  top: 0px;
  left:130px;
}

a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
  top: -30px;
  left:20px;
}

a:link {
  color: #FF4500;
}

a:visited {
  color: #333399;
}

a:hover {
  color: #FFF8DC;
}


  /* Этим свойством добавляем подчеркивание через создание псевдокласса */
a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #FF4500;
  width: 90px;
}

h1 {
    font-size: 20px;
    color: #FFF8DC;
    position: relative;
    top: -50px;
    left: 100px;
}

p {
  position: relative;
  top: -50px;
  left: 65px;
  color: #FFF8DC;
}


